<p>
  default works!
</p>

<!-- <select (change)="selectChange($event)" multiple style="font-family: FontAwesome, Arial; text-align:right;">
  <option *ngFor="let hour of activeHours" [selected]="isSelected" [value]="hour">{{hour}} {{isSelected === true ? "&#xf00c;": ""}} </option>
</select>




<button (click)="selectAll($event)">select All</button>
<button (click)="deSelectAll($event)">Deselect All</button>

{{ (selectedValue.length > 0) ? selectedValue.length + " Selected" : "nothing selected"}} -->

