<div color-dark>
  <div class="col">
    <p>Add a bucket list itme</p>
  </div>
  <div class="col">
    <p>Your bucket list ({{itemCount}})</p>
  </div>
</div>

<div>
  <div class="col">
    <p class="sm">Use this form to add a new bucket list goal. What do you want </p>
    <form>
      <input type="text" class="txt" name="item" placeholder="Life goal..." [(ngModel)]="goalText"> 
      <span>{{goalText}}</span>
      <input type="submit" class="btn" (click)="addGoal()" [value]="btnText">
    </form>
  </div>
  <div class="col">
    <p>Your bucket list</p>
    <p *ngFor="let goal of goals">{{goal}}</p>
  </div>
</div>

<a routerLink="/test/48"> navigateToNextPage</a>