<br>

<!-- File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect -->
<input type="file" name="photo" ng2FileSelect [uploader]="uploader" multiple accept='image/*' />
<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll(); onUpload()" [disabled]="!uploader.getNotUploadedItems().length">
  Upload
</button>
<br><br>
<!-- <div class="progress" *ngIf="">
  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
</div> -->
<br><br>
<div>
<div class="row">
  <div class="col-md-7">
    <strong> Name </strong>
  </div>
  <div class="col-md-2">
    <strong> Size </strong>
  </div>
  <div class="col-md-3">
    <strong> Action </strong>
  </div>
</div>
<div class="row" *ngFor="let item of uploader.queue">
  <div class="col-md-7">{{ item?.file?.name }}</div>
  <div class="col-md-2">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</div>
  <div class="col-md-1">
    <!-- <button type="button" class="btn btn-danger" (click)="item.remove()"> Remove</button> -->
    <i class="fa fa-times-circle" (click)="item.remove()"></i>
  </div>
  <div class="col-md-2">
      <div class="progress" style="margin-bottom: 0;">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
      </div>
    </div>
</div>
</div>