<form [formGroup]="myform" >
    <fieldset formGroupName="name">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" formControlName="firstName">
      </div>
  
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastName">
      </div>
    </fieldset>
  
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
  
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
  
    <div class="form-group" >
      <label>Language</label>
      <select class="form-control" (change)="onChange($event)" formControlName="language" multiple>
        <option value="Please select a language">Please select a language</option>
        <option *ngFor="let lang of langs" [value]="lang">abc &#xf00c;</option>
      </select>
      <!-- <ul class="form-control" formControlName="language">
        <li *ngFor="let lang of langs" [value]="lang" >{{lang}} <i class="fa fa-check"></i></li>
      </ul> -->
    </div>

    <ul>
      <li *ngFor="let lang of langs" (click)="setBgColor = !setBgColor" [class]="{ 'bgColor' : !setBgColor}" >{{lang}}<i class="fa fa-check"></i></li>
    </ul>



  </form>
  <strong>________________________</strong>

  <pre>{{myform.value | json}}</pre>