ul {
    list-style: none;
}

li:hover {
cursor: pointer;
}

h6{
    background-color: #9e9e9e33;
    padding: 10px;
}

.multiSelectContainer {
    position: relative;
}
.multiSelectContainer > button {
    width: 100%;
}

.multiSelectChildContainer {
    position: absolute;
    z-index: 1;
    border: 1px solid black;
}